<!doctype html>
<html lang="en">
    <head>
        <base href="{{ contextPath }}/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="app-context-path" content="{{ contextPath }}" />
        <link rel="stylesheet" href="{{ contextPath }}/css/styles.css" />
        <title>FLT DataProvider</title>
    </head>
    <body>
        <script src="{{ contextPath }}/js/app.js"></script>
        <div id="app"></div>
    </body>
</html>